@import url("https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&display=swap");
* {
  padding: 0;
  margin: 0 auto;
  width: 100%;
}
body {
  overflow-x: hidden;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.text-justify {
  text-align: justify;
}
.nav-part-1 {
  background-color: #3fa9f5;
  height: 34px;
}
.nav-part-2 {
  background-color: #cdfff6;
  height: auto;
}
.letrero {
  position: absolute;
  width: 261px;
  height: 30px;
  background: #ffe70b;
  border-radius: 0px 65.5px;
  left: 26px;
  top: 4px;
}
.barcode {
  position: absolute;
  top: 6px;
  font-family: "Libre Barcode 39 Text";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #d4145a;
}
.social-networks {
  position: absolute;
  width: 144px;
  left: 75%;
  top: 1%;
}
.costenia-img {
  width: 70px;
  height: 72px;
}
.car-img {
  width: 154px;
  height: 142px;
}
.zindex-fixed {
  position: absolute;
  z-index: 100;
}
.general-information {
  height: 172px;
  background: #e6ac2a;
}
.second-information {
  height: 264px;
  background: #99be3c;
}
.bg-fiusha {
  width: 312px;
  height: 762px;
  background: #d4145a;
}
.bg-amarillo {
  width: 312px;
  height: 762px;
  background: #e6ac2a;
}
.bg-azul {
  width: 312px;
  height: 762px;
  background: #3fa9f5;
}
.bg-verde {
  width: 312px;
  height: 762px;
  background: #99be3c;
}
.bg-rosa {
  width: 1440px;
  height: auto;
  background: #ebbcbc;
}
.bg-footer {
  width: 1440px;
  height: 418px;
  background: #99be3c;
}
.img-carta {
  width: 252px;
  height: 378px;
}
.btn-gris {
  width: 396px;
  height: 92px;
  background: #ababcb;
  border-radius: 10px;
}
